/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color:#FFBB00;
    padding: 10px;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color:#FFBB00;
    align-items: center;
}
.unitlogo img {
    justify-self: start;
    width: 100px;
    height: auto;
}


.sherubtselogo img {
    float: right;
    width: 100px;
    height: auto;
}

.unitlogo img, .sherubtselogo img {
    width: 100px;
    height: auto;
}

.unitname {
    font-size: 40px;
    color: #f5f1f1;
    margin: 0;
    text-align: center;
    flex-grow: 1; /* This makes the title take up space between the logos */
}
.footer{
    background-color: #f29f04; 
    margin: 0;
    padding: 20px;
}
.navbar {
    grid-column: 2;
    text-align: center;
    padding: 5px;
    border-radius: 80;
}

.navbar ul {
    list-style-type: none; /* Remove bullet points from list */
    padding: 10px;
    margin: 0;
    display: inline-flex; /* Display links in a row */
    background-color:#375E97;
    gap: 20px;
    border-radius:50px;
    /* Spacing between the navigation links */
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    color: #f5f1f1;
    padding: 10px 20px;
   
   
}

.navbar ul li a:hover {
    background-color:#2ec66b;
    border-radius: 80px; /* Change color on hover */
}
footer{
    background-image: url(bg.jpg);
}
